.env

# Ignore all files in audio/ except .gitkeep
audio/*
!audio/.gitkeep

# Ignore all files in transcripts/ except .gitkeep
transcripts/*
!transcripts/.gitkeep

# Ignore all files in finished/ except .gitkeep
finished/*
!finished/.gitkeep
